<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  
    <appSettings>
      <add key="GroupCnt" value="3"/>
      <add key="Group1" value="Default,bthserv,KEPServerEXV6,ftpsvc"/>
      <add key="Group2" value="OPC,KEPServerEnterpriseKeySvcV5,KEPServerEnterpriseLoggerV5,KEPServerEnterpriseV5,KEPServerEXConfigAPI6,KEPServerEXHistorianV6,KEPServerEXIoTGatewayV6,KEPServerEXKeySvcV6,KEPServerEXLoggerV6,KEPServerEXStoreAndForwardV6,KEPServerEXV6,KEPServerEXV6_OPCNET"/>
      <add key="Group3" value="NEW,AppMgmt"/>
    </appSettings>
    
</configuration>
